li, a, button {
    font-weight: 400;
    color: #24252A;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 5em;
}

.logo {
    cursor: pointer;
    width: 6em;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 1em;
}

.link {
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    color: #EDF0F1;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8)
}